@use 'global' as *;

.container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0.2rem 1rem;
  z-index: 5;

  &-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
  }

  h4 {
    color: #bcc4d8;
    margin: 0;
  }
}

.options-overlay {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  user-select: initial;
  pointer-events: initial;

  &-content {
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  &-hide {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

.option {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    font-size: 1.5rem;
    text-align: left;
    margin: initial !important;
  }
}
