@use 'global' as *;

.container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0.2rem 1rem;

  &-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
  }

  h4 {
    color: #bcc4d8;
    margin: 0;
  }
}
