@use '~global' as *;

.button {
  background: #627fa2;
  border: 0.2rem solid #bcc4d8;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  width: 100%;
  transition: all 0.1s linear;
  font-family: $subText;
  font-size: 1.5rem;
  color: #bcc4d8;

  &:hover {
    cursor: pointer;
    background-color: darken(#627fa2, 5%);
    text-shadow: 0.15rem 0.15rem #169107;
  }
}
