@use 'global' as *;

.button {
  background: none;
  border: none;
  border-radius: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  transition: text-shadow 0.1s linear;
  font-family: $subText;
  font-size: 1.5rem;
  color: #bcc4d8;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.487);
  }

  &:disabled {
    cursor: not-allowed;
    color: rgb(140, 140, 140);
    text-shadow: none;
  }
}
