@use 'global' as *;

.button {
  background: none;
  border: none;
  border-radius: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  transition: all 0.1s linear;
  font-family: $subText;
  font-size: 1.5rem;
  color: #bcc4d8;

  &:hover {
    cursor: pointer;
    text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.487);
  }
}
